<div class="row">
  <div class="col-sm-8">
    <h2>Adoption Cart</h2>
    <small class="float-right"><%= pluralize(cart.size, 'Items') %></small>
    <% if cart.present? %>
      <% cart.each do |breed| %>
        <div class="row">
          <div class="col-sm-3">
            <%= breed.name %>
          </div>
          <div class="col-sm-5">
            <%= form_with url: cart_update_path, method: :post do %>
              <%= number_field_tag :qty, breed.qty %>
              <%= hidden_field_tag(:name, breed.name) %>
              <%= button_to 'update Cart', cart_update_path %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <% if !breed.qty.nil? %>
              <%= number_to_currency(breed.price * breed.qty) %>
            <% else %>
              <%= breed.qty %>
            <% end %>
          </div>
          <div class="col-sm-1">
            <%= link_to 'X', cart_path(breed), method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h2>Summary</h2>
    <% if cart.present?
      subtotal = 0
    %>
      <% cart.each do |breed|
        subtotal += breed.price * breed.qty
      end %>
      <% if @prov.pst.nil?
        pst = 0
      else
        pst = @prov.pst
      end %>
      <ul>
        <li>GST: <%= @prov.gst %></li>
        <li>PST: <%= pst %></li>
        <% if !@prov.hst.nil? %>
          <li>HST: <%= hst = @prov.hst %></li>
        <% else %>
          <li>HST: <%= hst = @prov.gst + pst %></li>
        <% end %>
        <li>Total Price: <%= number_to_currency(subtotal * (1 + hst)) %></li>
      </ul>
      <%= button_to 'Check Out', checkout_create_path, remote: true %>
    <% end %>
  </div>
</div>