<h2>List of Breeds available for adoption</h2>


<%= paginate @breeds , window: 1 %>

<div class="row">
  <% @breeds.each do |breed| %>
    <div class="col-4">
      <% if breed.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag breed.image %>
          </figure>
        </div>
      <% else %>
        <img src="<%= breed.image_URL %>" alt="<%= breed.name %> image" />
      <% end %>
      <p><%= link_to breed.name, breed %></p>
      <p><%= link_to breed.pet_group.name, breed.pet_group %></p>
      <p><%= number_to_currency breed.price %></p>

      <% if cart.include?(breed) %>
        <%= button_to cart_path(breed), method: :delete do %>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, breed.id) %>
          <%= button_tag 'Add to Cart' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @breeds , window: 1 %>