<h2>List of Breeds available for adoption</h2>

<div class="row">
  <% @breeds.each do |breed| %>
    <div class="col-4">
      <img src="<%= breed.image %>" alt="<%= breed.name %> image" />
      <p><%= link_to breed.name, breed %></p>
      <p><%= link_to breed.pet_group.name, breed.pet_group %></p>
      <p><%= breed.price %></p>
    </div>
  <% end %>
</div>