<h2>Aninmal: <span class="light"><%= @pet_group.name%></span></h2>

<% if @pet_group.breeds.count > 10 %>
  <%= paginate @pg_pag , window: 1 %>
<% end %>
  <div class="row">
    <% @pg_pag.each do |breed| %>
      <div class="col-4">
        <img src="<%= breed.image %>" alt="<%= breed.name %> image" />
        <p><%= link_to breed.name, breed %></p>
        <p><%= number_to_currency breed.price %></p>
      </div>
    <% end %>
  </div>
<% if @pet_group.breeds.count > 10 %>
  <%= paginate @pg_pag , window: 1 %>
<% end %>